<!DOCTYPE html>
<html>

<!-- Name of the website tab -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
  <link rel="icon" type="image/png" href="https://www.pinclipart.com/picdir/middle/262-2623619_heart-health-tips-tricks-clipart.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">


  <title>Campus Cares</title>
</head>

<!-- Website page -->
<body>

  <h1 id="titleOfPage"><a href="main.html">Campus Cares</a></h1>
  <nav>
    <a href="/wellesley">Wellesley</a>
    <a href="/mit">MIT</a>
    <a href="/harvard">Harvard</a>
    <a href="/bu">BU</a>
    <a href="/bc">Boston College</a>
    <!-- <a href="/nu">Northeastern</a>
    <a href="/tufts">Tufts</a>
    <a href="/nec">NEC</a>
    <a href="/babson">Babson</a>
    <a href="/olin">Olin</a>
    <a href="/brandeis">Brandeis</a> -->
  </nav>


  <img class="logo" src="{{url_for('static', filename='mit_logo.png')}}">
  <h2>Massachusetts Institute of Technology</h2>

  <div class="data" id="cases">
    <p>Total tests (past 7 days):</p>
    <h2>{{tests}}</h2>
  </div>

  <div class="data" id="positive">
    <p>Positive results (past 7 days):</p>
    <h2>{{pos}}</h2>
  </div>

</body>

</html>
