body {
  font-family: "Avantgarde", TeX;
  margin-bottom: 200px
  text-align: center;
}

/* Title of Page */
#titleOfPage {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
  margin-top: 50px;
}

/* Line */
#line {
  text-align: center;
}

/* About Section */

.About {
  text-align: center;
  margin-bottom: 100px;
}

#aboutText {
  font-size: 18px;
  font-weight: 600px;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
  
}

#Instructions {
  font-size: 18px;
  font-weight: 600px;
  margin-left: 20px;
  margin-right: 20px;
}

/* College pages */

.Wellesley {
  text-align: center;
  margin-bottom: 100px;
}

.MIT {
  text-align: center;
  margin-bottom: 100px;
}

.Harvard {
  text-align: center;
  margin-bottom: 100px;
}

.BU {
  text-align: center;
  margin-bottom: 100px;
}

.BC {
  text-align: center;
  margin-bottom: 100px;
}

.NU {
  text-align: center;
  margin-bottom: 100px;
}

.Tufts {
  text-align: center;
  margin-bottom: 100px;
}

.NEC {
  text-align: center;
  margin-bottom: 100px;
}

.Babson {
  text-align: center;
  margin-bottom: 100px;
}

.Olin {
  text-align: center;
  margin-bottom: 100px;
}

.Brandeis {
  text-align: center;
  margin-bottom: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0c21a8;
  color: white;
  padding: 24px;
  font-size: 20px;
  border: none;
  margin-top: 25px;
  margin-left: 50px;
}

/* Position the drop down content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (hidden unless hovered over) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c21a8;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 50px;
  margin-bottom: 100px
}

/* Links in the dropdown menu */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of link when hovered over */
.dropdown-content a:hover {background-color: #b8b8b8;}

/* Menu drops down when hovered over */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the menu button when menu drops down */
.dropdown:hover .dropbtn {background-color: #f04646;}
